
Client/bin/Debug/net6.0-windows/

Client/obj/

Launcher/bin/Debug/net6.0/

Launcher/obj/Debug/net6.0/

.vs/pp-app/FileContentIndex/

.vs/pp-app/v17/

Api/obj/

Launcher/obj/

Api/bin/Debug/net6.0/

Domain/bin/Debug/net6.0/

Domain/obj/Debug/net6.0/

Domain/obj/

Infrastruceture/bin/Debug/net6.0/

Infrastruceture/obj/Debug/net6.0/
